/*
 * Author: Joel Capillo
 * 
 *
 * Project Name: Currency Converter
 * Version: 1.0
 *
 */
h1{
    font-size: 42px;
}
select{
    padding:5px;
    width:280px;
}

select.convert-from
{
    margin-right:40px;
}
 
select.convert-to{
    margin-left: 40px;
}

.textbox-holder
{
    margin-top:30px;
}

.textbox-holder input{
    padding:5px; 
}

.textbox-holder.row-fluid .col-lg-3{
    width:370px;
}

.textbox-holder.row-fluid .col-lg-3,
.error-holder.row-fluid .span3
{
    float: none;
    margin: 0 auto;
    
}

.error-holder.row-fluid .alert
{
    padding:6px;
}

.error-holder.row-fluid .span3
{
    margin-top:20px;
}

.form-control,
.btn{
    height:40px;
    line-height:30px;
}
.btn{
    line-height: 20px;
}
.form-control{
    font-weight: bold;
    font-size: 18px;
    padding-left: 8px;
}
::-webkit-input-placeholder { /* WebKit browsers */
    font-weight: 200;
    font-size: 16px;
    font-style: italic;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    font-weight: 200;
    font-size: 16px;
    font-style: italic;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    font-weight: 200;
    font-size: 16px;
    font-style: italic;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
   font-weight: 200;
   font-size: 16px;
   font-style: italic;
}
.title-holder{
    padding-top: 30px;
}

.hero-block img.mb-7{
    margin-bottom: 0;
}

#loading-indicator{
    background: url(../img/loader.gif) no-repeat right top;
    height: 15px;
    width: 20px;
    margin: 20px 5px 0 0;
    float: right;    
}
.error{
    color:#FF0000;
}
.hero-block .chosen-container{
    width:300px!important;   
}
.hero-block a.chosen-single{
    height:40px;
    line-height:40px;
}
.hero-block .chosen-container-single .chosen-single div b{
    background: url('../img/chosen-sprite.png') no-repeat 0px 12px;
}
.hero-block .chosen-container-active.chosen-with-drop .chosen-single div b {
  background-position: -18px 15px;
}

.hero-block .chosen-container .chosen-results li.active-result.highlighted{
    color:#FFF;
}
.hero-block .chosen-container .chosen-results li.active-result{
    color:#000;
}




