/*
 * Author: Joel Capillo
 * 
 *
 * Project Name: Currency Converter
 * Version: 1.0
 *
 */
@media (max-width: 720px){
  .textbox-holder.row-fluid .col-lg-3
   {
     width: 260px;
   }

   .hero-block .span4.right{
       margin-top:20px;
   }

}


@media (max-width: 480px){
  .textbox-holder.row-fluid .col-lg-3
    {
        width: 250px;
    }
  .hero-block .span4.right{
       margin-top:20px;
   }
}