/web/bundles/
/app/bootstrap*
/app/cache/*
/app/logs/*
/vendor/
/app/config/parameters.yml
/nbproject/*
/nbproject/private/
/src/CurrencyConverter/CurrencyConverterBundle/Kernel/cache*
/src/CurrencyConverter/CurrencyConverterBundle/Kernel/logs*
