/web/bundles/
/app/bootstrap*
/app/cache/*
/app/logs/*
/vendor/
/app/config/parameters.yml
/src/CurrencyConverter/CurrencyConverterBundle/Kernel/cache/*
/src/CurrencyConverter/CurrencyConverterBundle/Kernel/logs/*
/nbproject/*
