    <div class="hero-block">
        <img class="img-circle" src="{{ asset('bundles/currencyconvertercurrencyconverter/img/logo.png') }}" width="200" height="200" class="mb-7 hero-image">
        <p>Hello, I'm Carlos and this is our new theme, Small.<br/>
        It is extremely easy to configure and use. Designed to show your Dribbble shots.<br/>
        No complex stuff. Your logo, your shots & your social links. Easy stuff!</p>
    </div>
    <a href="index.html#work" class="scroll"><span class="down-arrow"></span></a>

