<div class="container">
     <p>
        <a href="#"><i class="dribbble fa fa-dribbble"></i></a>
        <a href="#"><i class="facebook fa fa-facebook"></i></a>
        <a href="#"><i class="twitter fa fa-twitter"></i></a>
        <a href="#"><i class="mail fa fa-envelope"></i></a>
     </p>
 </div>

