<div class="container">
     <p>
	<a href="http://www.linkedin.com/pub/joel-capillo/26/8b4/ba3" target="_blank"><i class="linkedin fa fa-linkedin"></i></a>
        <a href="http://instastrm.com/" target="_blank"><i class="instagram fa fa-instagram"></i></a>
        <a href="https://twitter.com/joecapsboy" target="_blank"><i class="twitter fa fa-twitter"></i></a>
        <a href="mailto:hunyoboy@gmail.com"><i class="mail fa fa-envelope"></i></a>
     </p>
 </div>

