<div class="showcase">
    <div class="showcase-tiles">
            <ul class="slides">
                    <!--Dribbble feed-->	
            </ul>
    </div>
    <div class="showcase-info">
            <h2 class="mb-7">Follow me on Dribbble!</h2>
    </div>
</div>
